.mainImage:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.mainImage:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.mainImage {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.otherImage:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.otherImage:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.otherImage {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
